
.containerRaiting {
    position: absolute;
    top:40vh;
    left: 65vw;
  

  width: 100%;
  height: 70vh;
  margin: auto;
  margin-bottom: 3rem;
  padding:0  3rem;
}

  .containerImage {
    position: absolute;
    top:50vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70vh;
    margin: auto;
    margin-bottom: 3rem;
    padding:0  3rem;
  }
  .sectionsContainerImage{
    background-color: #f1f1f1;
    width: 30%;
    margin: auto;
    height: 100%;
    text-align: center;
    line-height: 75px;
    font-size: 16px;
    border-radius: 2%;

  }
  .sectionsContainerDetails{
    background-color: #f1f1f1;
    width: 65%;
    margin: auto;
    height: 100%;
    padding-top: 2rem;

    line-height: 75px; 
    font-size: 16px;
    border-radius: 2%;
  }

  .centered {
    text-align: center;
  }

  .descWidth {
      width: 60%
  }
  .taglineInfo{
    margin: auto  
  }

  .tagline{
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 400;
    font-style: italic;
    opacity: 0.7;
  }

  .img{
    display: block;
    width: 100%;
    min-width: 50%;
    height: 100%;
    min-height: 50%;
    border-width: 0px;
    outline: none;
  }

  .backdrop{
    width: 100%;
    min-width: 100%;
    height: 100%;
  }

  .bold{
      font-weight: bold;
  }